.keyboard{
    border: 2px solid black;
    width: 1000px;
    height: 350px;
}
.key{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.t_class{
    background-color: black;
}